<%= link_to 'Title |', {:controller => "articles", :action => "index", :order_by => "title"} %>
<%= link_to 'Published |', {:controller => "articles", :action => "index", :order_by => "published", :limit => 5} %>
<%= link_to 'Word Count', {:controller => "articles", :action => "index", :order_by => "word_count", :limit => 5} %>


<% @articles.each do |article| %>
  <div class="article">
    <h3><%= article.title %></h3>
    <p>
	

      <%= raw truncate(article.body, length: 200, separator: '...') %>
      <br>
      <%= link_to 'Show', article %> | 
      <%= link_to 'Edit', edit_article_path(article) %> | 
      <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
			
    </p>
  </div>

<% end %>
